---
AlignAfterOpenBracket: true
AlignConsecutiveAssignments:
  Enabled: false
AlignConsecutiveDeclarations:
  Enabled: false
AlignConsecutiveMacros:
  Enabled: false
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: false
BinPackParameters: OnePerLine
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeBraces: Linux
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
BreakBeforeTernaryOperators: false
BreakStringLiterals: false
ColumnLimit: 128
ContinuationIndentWidth: 4
Cpp11BracedListStyle: Block
DerivePointerAlignment: false
ExperimentalAutoDetectBinPacking: false
IndentCaseBlocks: true
IndentPPDirectives: None
IndentWidth: 4
KeepEmptyLines:
  AtStartOfBlock: false
MaxEmptyLinesToKeep: 1
NumericLiteralCase:
  Suffix: Upper # Matches clang-tidy readability-uppercase-literal-suffix
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
ReflowComments: Never
SortIncludes:
  Enabled: false
SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInParens: Never
TabWidth: 4
UseTab: Never
---
Language: Cpp
Standard: c++20

AccessModifierOffset: -4
PackConstructorInitializers: Never
BreakAfterReturnType: Automatic
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakTemplateDeclarations: Yes
ConstructorInitializerIndentWidth: 4
FixNamespaceComments: true
IndentGotoLabels: false
QualifierAlignment: Right
SortUsingDeclarations: LexicographicNumeric
SpaceAfterTemplateKeyword: false

# Workaround. Needed until we adopt a version that includes https://github.com/llvm/llvm-project/pull/192283.
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
---
Language: ObjC

ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: false
ObjCSpaceBeforeProtocolList: false
PenaltyExcessCharacter: 1
QualifierAlignment: Right

# Workaround. Needed until we adopt a version that includes https://github.com/llvm/llvm-project/pull/192283
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
---
# Workaround. Needed until we adopt a version that includes https://github.com/llvm/llvm-project/pull/192283
Language: C

BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
...
